.header {
    display: flex;
    position: sticky;
   border-bottom: 2px solid black;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   width: 100%;
}
.header-right {
     display: flex;
     justify-content: flex-end;
     align-items: center;
}

.badge {
     z-index: 10;
}


