.header {
    display: flex;
    position: sticky;
   border-bottom: 2px solid black;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   width: 100%;
   z-index: 1;
}

.float-left {

}
.float-end {
     display: flex;
     justify-content: flex-end;
     align-items: baseline;
     flex-direction: row;
}

.badge {
     z-index: 10;
}


